@font-face {
  font-family: "Proxima Nova Alt Rg";
  src: url("../font/ProximaNovaA-Bold.woff2") format("woff2"),
  url("../font/ProximaNovaA-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../font/ProximaNova-Bold.woff2") format("woff2"),
  url("../font/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../font/ProximaNova-Extrabld.woff2") format("woff2"),
  url("../font/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../font/ProximaNova-Regular.woff2") format("woff2"),
  url("../font/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.infinite .caption p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
select.currency-selector {
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;

/ reset /

margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0px;
  background: transparent;
  font-size: 17px;
  font-weight: bold;
  color: #949399;
}
select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  background-position: calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.cart .dot {
  position: absolute;
  right: 23px;
  cursor: pointer;
}
.counters {
  position: absolute;
  top: -15px;
  left: 46px;
  background: #ff4648;
  border: 1px solid #e16b1a;
  color: #ffffff;
  border-radius: 50%;
  font-weight: 600;
  padding: 0px 5px;
}

.list .sele1 {
  width: 78px;
}
.list .sele2 {
  width: 52px;
}
.list li {
  cursor: pointer;
  position: relative;
}
.sticky-top {
  background: #fff;
  z-index: 9;
  padding-top: 20px;
  box-shadow: -1px 2px #949090;
}
.inherit {
  display: inherit;
  margin: 0 auto;
}
iframe {
  width: 500px;
  height: 500px;
}
*,
ul {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: "Proxima Nova Rg";
}
button:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* header  */
.search-box {
  position: relative;
  border: none;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}
.txt_2 {
  color: #b7b0b0;
  margin: 0;
}
.search-box input.input-text {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 6px 6px 6px 10px;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  height: 42px;
}
.search-box button.search-btn {
  background: #e16b1a;
  border: none;
  height: 42px;
  width: 45px;
  position: absolute;
  right: 0;
  top: 0px;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}
.search-box .fa-search {
  color: #fff;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.list li {
  cursor: pointer;
}
.desk-header .list li img {
  width: 32px;
  margin-top: -5px;
}
.tab {
  float: left;
  /* width: 30%; */
}

/* Style the buttons inside the tab */
.tab button {
  display: flex;
  align-items: center;
  background-color: inherit;
  color: black;
  padding: 2px 36px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  position: relative;
}
.tab .icon {
  background: url("../img/icons.png") no-repeat;
  width: 40px;
  height: 28px;
  display: inline-block;
  background-size: cover;
  background-position: 0px -10px;
}
.tab .ic {
  background-position: 0px -52px;
}
.tab .ic-1 {
  background-position: 0px -94px;
}
.tab .ic-2 {
  background-position: 0px -137px;
}
.tab .ic-3 {
  background-position: 0px -184px;
}
.tab .ic-4 {
  background-position: 0px -226px;
}
.tab .ic-5 {
  background-position: 0px -271px;
}
.tab .ic-6 {
  background-position: 0px -314px;
}
.tab .ic-7 {
  background-position: 0px -361px;
}
.tab .ic-8 {
  background-position: 0px -406px;
}
.tab .ic-9 {
  background-position: 0px -447px;
}
.tab .ic-10 {
  background-position: 0px -491px;
}
.tab .ic-11 {
  background-position: 0px -537px;
}
.tab .ic-12 {
  background-position: 0px -582px;
}
.tab .ic-13 {
  background-position: 0px -631px;
}
.listing .line {
  font-size: 42px;
  color: #e16b1a;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #e16b1a;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: #e16b1a;
}

/* Style the tab content */
.tabcontent {
  /* float: left; */
  padding: 0px 12px;
  /* width: 70%; */
  border-left: none;
}
.caption .line {
  clear: both;
  border-top: 1px solid #c2bebe;
}
.hea {
  background: #e1e1e1;
  width: 100%;
  height: 207px;
}
i.fa.fa-angle-right {
  float: right;
  position: absolute;
  right: 0px;
  font-weight: bold;
}

/* header  */

.mas {
  background: #e16b1a;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 1px;
}
.mas span {
  width: 80px;
  background: #fff;
  height: 2px;
  display: inline-block;
  margin: 5px 15px;
}

.infinite .caption p {
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.infinite .price_1 {
  display: inline-block;
  cursor: pointer;
}
.infinite .sort {
  display: inline-block;
}
.infinite .select_1 {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
.infinite .select_1 ul {
  list-style: none;
  display: flex;
}
.infinite .select_1 li {
  margin-right: 15px;
}
.infinite .select_1 .active {
  background: #ff5500;
  padding: 0px 5px;
  color: #fff;
}
.infinite .thumbnail {
  cursor: pointer;
  transition: 1s;
}
.infinite .thumbnail:hover {
  border: 1px solid #f66b0e;
  transform: translateY(-4px);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.infinite .caption {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infinite .caption p:nth-child(2) {
  color: #ff5500;
  font-size: 20px;
}
.infinite .caption span {
  font-size: 15px;
}
.infinite .caption p:nth-child(3) {
  color: #b7b0b0;
}
.infinite .cate ul {
  list-style-type: none;
}
footer p:nth-child(1) {
  color: #d8cccc;
  text-transform: uppercase;
}
footer p:nth-child(2) {
  font-weight: 600;
  font-size: 26px;
}
footer ul {
  column-count: 2;
  list-style-type: none;
}
footer li a {
  color: #000;
}
footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

/** css for mobile layout **/
.header-middle {
  padding-top: 10px;
  padding-bottom: 5px;
}
.header-left,
.header-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.mobile-menu-toggler {
  /* display: flex; */
  background: transparent;
  border: 0px;
  box-shadow: none;
}
.header-middle .logo {
  margin: 0px auto;
}
.header-right {
  margin-right: 2px;
}
header.header.header-transparent {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 999;
  width: 100%;
}
.header .container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
button.mobile-menu-toggler img {
  width: 30px;
  margin-right: 10px;
}
span.sml {
  font-size: 14px;
  line-height: normal;
}

.header-middle .logo img {
  width: 150px;
}

.header-user img {
  width: 18px;
}
a.search-toggle img {
  width: 24px;
  margin-left: 10px;
}

.dropdown.cart-dropdown img {
  width: 24px;
  margin-left: 10px;
}
header {
  display: none;
}
.dropdown.cart-dropdown a.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  border-top-color: #81382e;
  display: none;
}
select.currency-selector {
  border: 0pc;
  background: transparent;
  font-size: 17px;
  font-weight: bold;
  color: #949399;
  /* margin-right: 10px; */
}
.top-cate {
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
  padding: 10px 5px;
  border-top: 1px solid #eef0ef;
  border-bottom: 1px solid #eef0ef;
  justify-content: space-between;
}
.top-cate {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.top-cate::-webkit-scrollbar {
  display: none;
}
.top-cate a:hover {
  color: #ff5500 !important;
  font-family: "Proxima Nova Rg";
  font-weight: bold;
}
.top-cate a:hover span:after {
  position: absolute;
  width: 25px;
  height: 5px;
  border-radius: 5px;
  background: red;
  content: "";
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
}
.slider {
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
}
.sticky-top {
  background: #fff;
  z-index: 9;
  padding-top: 20px;
}
.black {
  /*background: #000;*/
  position: fixed;
  right: 0;
  top: 60%;
  color: #fff;
  text-align: center;
  padding: 10px 3px;
  z-index: 999999;
  cursor: pointer;
}
.black ul li:active {
  color: #f0831c;
}
.line {
  border: 1px solid #fff;
  margin: 10px 0px;
  background: #fff;
}
.black ul {
  list-style: none;
}
.black ul li img:last-child {
  display: block;
}
.black ul li img {
  width: 50px;
  margin-bottom: 10px;
}

.top-cate a {
  text-transform: capitalize;
  color: #949399 !important;
  font-size: 19px;
  position: relative;
  margin-right: 20px;
}
.product-default figure img:first-child {
  opacity: 1;
  position: relative;
}
.product-default figure img {
  transition: all 0.5s;
  height: auto;
  width: 100%;
}
.product-default h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}
.category-wrap a {
  font-size: 14px;
  text-transform: capitalize;
  color: #949399 !important;
  font-weight: 600;
}

.category-wrap {
  margin-top: -5px;
}
.product-default h2 a {
  color: #000;
}
.inner-icon figure {
  position: relative;
}
.inner-quickview figure {
  position: relative;
}
.product-default figure {
  margin-bottom: 5px;
  position: relative;
}
.row.row-sm [class*="col-"] {
  margin-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
}
span.product-price i {
  color: #ff661e;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}

.price-box {
  font-size: 14px;
  color: #ff661e;
}
.item-product {
  display: none;
}
.app-noti {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  background: #fff;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 5px;
  z-index: 99;
}
.mobile-nav .show .dropdown-menu {
  position: static !important;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: auto;
  transform: none !important;
}
.mobile-nav .dropdown-toggle::after {
  content: "\f107";
  font-family: "FontAwesome";
  border: 0px;
  font-weight: bold;
}

.app-noti img {
  width: 70px;
}
.app-noti div {
  display: flex;
  flex-direction: column;
  line-height: normal;
  color: #000;
  padding: 0 10px;
}
.app-noti div i {
  color: #ffc854;
  font-size: 14px;
}
.app-noti h4 {
  color: #ff5500;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}
a.app-btn {
  border-radius: 10px;
  background: #ff6703;
  color: #fff;
  padding: 7px;
  text-transform: capitalize;
}
.app-noti {
  display: none;
}
.mmenu-active .mobile-menu-overlay,
.mmenu-active .filter-overlay {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-overlay,
.filter-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.25s;
  background-color: rgba(0, 0, 0, 22%);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.mmenu-active .mobile-menu-container,
.mmenu-active .layered-filter-wrapper {
  transform: translateX(0);
  visibility: visible;
}
.mobile-menu-container,
.layered-filter-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
  transform: translateX(-100%);
  transition: all 0.25s;
  background-color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  box-shadow: 0.1rem 0 0.6rem 0 rgba(50, 50, 50, 0.65);
  visibility: hidden;
  z-index: 1001;
  overflow-y: auto;
  /* height: 80%; */
}
.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px 5px 10px;
  border-bottom: 1px solid #c3c3c3;
}
ul.mobile-menu li a:hover {
  text-decoration: none;
  color: #ff5500;
}
ul.mobile-menu li a {
  color: #000;
  text-transform: capitalize;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

ul.mobile-menu li {
  width: 100%;
  padding: 10px 25px 0px 10px;
}

.menu-top img {
  width: 150px;
}

span.mobile-menu-close img {
  cursor: pointer;
  width: 20px;
}
div#demo .carousel-item img {
  width: 100%;
}
.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-top: 0px;
  border-bottom: 0px;
  opacity: 0.5;
  background: #702e20;
  border-radius: 100%;
}
.carousel-indicators {
  bottom: 10px;
}
.category_title {
  display: flex;
  align-items: center;
  padding: 5px 8px;
}

section.filter_Sec {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: capitalize;
  color: #949399;
}
.category_title h2 {
  color: #ff661e;
  font-weight: bold;
  line-height: 20px;
  font-size: 20px;
}

span.total.product {
  text-align: center;
  width: 100%;
  color: #949399;
  font-size: 16px;
}
.category_title h2 {
  color: #ff661e;
  font-weight: bold;
  line-height: normal;
  font-size: 19px;
  margin: 0px;
}

span.total.product {
  text-align: center;
  width: 100%;
  color: #949399;
  font-size: 16px;
}

a.back img {
  width: 15px;
}

.category_title div:nth-child(1),
.category_title div:nth-child(3) {
  width: 10%;
}

.category_title div:nth-child(2) {
  width: 80%;
  text-align: center;
}

.category_title div:nth-child(3) {
  text-align: right;
}

.category_title div:nth-child(3) > div {
  width: 100%;
}
.filter,
.select-custom {
  flex: 0 0 50%;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.filter img {
  width: 16px;
  position: relative;
  top: -3px;
}
.select-custom select {
  border: 0px;
  width: auto;
  font-size: 18px;
  text-transform: capitalize;
  color: #000;
  font-weight: bold;
  padding: 5px;
}
.select-custom select option {
  font-size: 16px;
}
.select-custom select:focus {
  border-color: transparent;
  box-shadow: none;
}
.layered-filter-wrapper {
  transform: translateX(100%);
  left: auto;
  right: 0;
}
.mmenu-active .layered-filter-wrapper {
  transform: translateX(0);
}
span.close img {
  width: 15px;
}

.menu-top span {
  color: #ff661e;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
}
.layered-filter-wrapper ul li {
  padding: 5px 10px;
  border: 1px solid #f6f6f6;
}
.filter-menu {
  height: 90%;
  overflow-y: auto;
}

.select_btn {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: center;
}

.filter-menu .menu-top {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 2;
}

.filter-menu nav.mobile-nav {
  padding-top: 42px;
}
.select_btn a {
  background: #f15812;
  color: #fff;
  padding: 5px 10px;
  width: 156px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.category_title .dropdown.cart-dropdown img {
  width: 27px;
  margin-left: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
}

.sticky + .layered-filter-wrapper + .item-product {
  margin-top: 115px;
}
.product-single-gallery img {
  width: 100%;
}
h1.product-title {
  color: #000;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
}

.product-single-details {
  padding: 20px 0 0;
}

.product-single-details span.product-price {
  font-size: 28px;
  font-weight: bold;
}
.product-desc,
.product-desc ul {
  width: 100%;
  display: inline-block;
}

.product-desc ul li {
  display: inline-block;
  width: 50%;
  float: left;
  padding-left: 20px;
  background: url(../assets/img/tick.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center left;
}
.overlay {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 9;
  opacity: 0.5;
}
.overlayer {
  background: #00000082;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.popup {
  background: #fff;
  width: 450px;
  border-radius: 21px;
  padding: 22px;
}
.popup .fa-search {
  position: absolute;
  right: 14px;
  top: 10px;
}
.popup .icon {
  background: url("../img/map.png");
  width: 50px;
  height: 32px;
  display: inline-block;
  background-size: cover;
  background-position: 0px -2px;
}
.branch_page .popup li {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0px;
}
.popup li {
  border: 1px solid rgb(206, 195, 195);
  border-radius: 5px;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.index .popup li {
  border: none;
  border-radius: 0px;
  position: relative;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.popup .ic {
  background-position: 0px;
}
.popup .ic-1 {
  background-position: 0px -160px;
}
.popup i.fa.fa-angle-right {
  right: 15px;
}
.popup h4 {
  margin-bottom: 20px;
}
.popup ul {
  list-style-type: none;
}
.mt-62 {
  margin-top: 86px;
}
.product-action {
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 99;
  width: 100%;
  left: 0;
  display: flex;
}
.product-single-tabs ul {
  width: 100%;
}
.product-desc-content img {
  max-width: 100%;
}
.nav-tabs .nav-link.active {
  color: #ff661e;
  border-color: #ff661e;
  border: 0px;
  border-bottom: 1px solid #ff661e;
}

.product-single-tabs .nav-tabs li {
  width: 50%;
  text-align: center;
}

.product-single-tabs .nav-tabs li a {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-transform: capitalize;
}
.product-spec-content {
  padding: 10px;
}

.product-single-tabs {
  margin-bottom: 70px;
  display: none;
}
.product-single-container {
  display: none;
}
.dekstop {
  display: block;
}
.dekstop_slider .box_1 {
  width: 80px;
  height: 80px;
  background: #fff;
  margin: 10px;
  overflow: hidden;
}
.dekstop_slider .box {
  float: left;
}
.dekstop_slider .fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 117px;
  font-size: 20px;
}
.infinite .fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 117px;
  font-size: 20px;
}
.dekstop_slider .large {
  width: 100%;
  float: right;
  overflow: hidden;
}
.dekstop_slider .over_cover {
  background: rgba(0, 0, 0, 0.466);
  width: 80px;
  position: absolute;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 38px;
}
.dekstop_slider .sign {
  background: #ed6836;
  border: none;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: x-large;
  line-height: 40px;
}
.dekstop button.see_more {
  background: #c45112;
  color: #fff;
  padding: 5px 25px;
  border-radius: 5px;
  border: none;
}
.dekstop .line {
  background: #e06b1b;
  border: 1px solid #e06b1b;
}
.product-action a {
  background: #ff5500;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}
.product-action .add-cart {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.product-action .add-compare {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-left: 1px solid #fff;
}

.product-action .product_price {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: #909090;
  text-transform: capitalize;
}
.product_price span:nth-child(1) {
  color: r;
  color: #ff661e;
  font-size: 25px;
  font-weight: bold;
}

.product-action .add-cart img {
  width: 22px;
}
/*=================== varient_bar=================== */
.varient_bar .product-action {
  display: block;
}
.varient_bar .product-action .product_price {
  width: 100%;
  text-align: center;
}
.varient_bar .product-action .add-compare {
  width: 100%;
}
.varient_bar span {
  cursor: pointer;
}
.varient_bar .number {
  margin: 5px;
  width: 100%;
}
.varient_bar .carito {
  background: #ff5500;
  width: 50%;
  color: #fff;
  text-align: center;
}
.varient_bar .minus,
.plus {
  padding: 8px 5px 8px 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.varient_bar input {
  height: 34px;
  width: 51px;
  text-align: center;
  font-size: 20px;
  color: #a79f9f;
  border: 0px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
.varient_bar .display {
  display: flex;
}
.varient_bar .color span {
  border: 2px solid #ff7100;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #b39292;
  font-weight: 600;
}
.varient_bar .color {
  padding: 15px 0px 0px 4px;
  border-top: 1px solid #c6c3c3;
  border-bottom: 1px solid #c6c3c3;
  width: 100%;
}
.varient_bar .name .box {
  width: 150px;
  height: 150px;
  background: #fff;
  position: absolute;
  top: -37px;
  left: 15px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 4px 2px 1px #8c8787;
}
.varient_bar .name {
  padding: 26px 0px 0px 172px;
}
.varient_bar .product-price {
  color: #ff7100;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}
.varient_bar .display .fas {
  position: absolute;
  right: 11px;
  top: 7px;
  cursor: pointer;
}
.varient_bar .product-desc {
  margin-top: 5px;
  font-weight: 600;
}
.varient_bar .product-desc span {
  color: #686868;
}
.varient_bar .bg {
  background: #cccccc;
}
.varient_bar h1.product-title {
  font-size: 25px;
}
.varient_bar .sticker p {
  background: #e1e1e1;
  padding: 17px 11px;
  text-transform: uppercase;
  border-radius: 50%;
  color: #fff;
  line-height: 16px;
}
.varient_bar .sticker {
  position: absolute;
  right: 5px;
  bottom: 0px;
}
.varient_bar .relate {
  position: relative;
}
.dekstop_slider .num input {
  width: 30px;
  text-align: center;
  font-size: 18px;
  color: #a79f9f;
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  vertical-align: baseline;
}
.dekstop_slider .num {
  margin-top: 5px;
}
.dekstop_slider span.minus {
  border: 1px solid #000;
  padding: 4px 5px;
  cursor: pointer;
}
.dekstop_slider span.plus {
  border: 1px solid #000;
  padding: 4px 5px;
  display: inline;
  cursor: pointer;
  vertical-align: baseline;
}
/*=================== varient_bar=================== */
/* =================login_page =========================== */
.tab_1 {
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}
.tab_1 a {
  color: #000;
}

.login .header-middle {
  box-shadow: -1px 6px 10px #eeee;
}
.login .input-group-text {
  background: none;
  border: 1px solid #9ea0a3;
}
.login .input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0px;
}
.login .form-control {
  /* padding: 22px 13px; */
  border: 1px solid #9ea0a3;
}
.login .form .orange {
  background: #ff7100;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  display: block;
}
.login .line span {
  background: #e1e1e1;
  width: 44%;
  height: 2px;
  display: block;
  margin-top: 12px;
}
.login .gmail {
  background: #db2f2a;
  color: #fff;
  padding: 10px;
  display: block;
  border-radius: 3px;
}
.login .facebook {
  background: #4167b2;
  color: #fff;
  padding: 10px;
  display: block;
  border-radius: 3px;
}
.login .red a {
  color: #ff5500;
}
.login .grey {
  color: #999999;
}

/* =================login_page =========================== */

/* =====================cart ==================== */
.cart .header-middle {
  padding-bottom: 25px;
  border-bottom: 1px solid #c1c1c1;
}
.cart .font {
  font-size: 25px;
}
.or {
  color: #f04400;
}
.cart .product-action .product_price {
  width: 50%;
  align-items: flex-start;
}
.cart .product-action .add-compare {
  width: 50%;
}
.cart .box {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 15px;
}
.cart .form-control {
  border: 1px solid #d6d2d2;
}
.cart .line_grey {
  background: #efefef;
  height: 12px;
  margin-left: -15px;
  margin-right: -15px;
}
.cart .dot {
  position: absolute;
  right: 23px;
}
.cart .borders {
  border-top: 1px solid #cfcfcf;
}
.cart .header-middle a {
  color: #000;
}
.cart .send {
  background: #c9c3c3;
  color: #fff;
  padding: 6px 20px;
  border-radius: 5px;
}
/* =====================cart ==================== */

/* ===================empty ========================= */
.empty .banner {
  background: #f8f8f8;
  padding: 22px 0;
}
.btn {
  background: #ff5500;
  color: #fff;
  border-radius: 20px;
}
.empty .product-default {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 2px 1px #e9e1e1;
  margin-bottom: 15px;
}
.empty .item-product {
  background: #f8f8f8;
}
/* ===================empty ========================= */

/*======================= Checkout====================== */
.checkout .price {
  display: inline;
  color: #ff5500;
  margin-left: 10px;
}
.checkout section.check {
  background: #fafafa;
  padding-top: 15px;
  padding-bottom: 7px;
}
.checkout .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: ">";
}
.checkout .breadcrumb li a,
.or {
  color: #ff5500;
}
.checkout .breadcrumb {
  background: #fff;
}
.checkout .list {
  border: 1px solid #e1e1e1;
  margin: 10px;
  border-radius: 10px;
  padding-top: 19px;
}
.checkout .line {
  border: 1px solid #e1e1e1;
  width: 100%;
  margin: 10px;
}
.checkout .send {
  background: #c9c3c3;
  color: #fff;
  padding: 6px 20px;
  border-radius: 5px;
}
.pago .list {
  margin: 0;
  padding: 0px;
  overflow: hidden;
}
.pago .line {
  margin: 0px;
}
.pago .con {
  margin-right: 15px;
  margin-left: 15px;
}
.pago .grey {
  background: #e1e1e1;
  padding-top: 18px;
}
.btn-orange {
  background: #e15001;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  border: none;
}
input:checked + label .checker1 {
  box-shadow: inset 0 0 0 6px #e24f01;
}
input:checked + label .checker {
  box-shadow: inset 0 0 0 6px #e24f01;
}
.radio input {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}
.radio input:focus + label {
  background: #e24f01;
}
.radio input:focus + label .checker {
  border-color: #e24f01;
}
.radio input:checked + label .checker {
  box-shadow: inset 0 0 0 6px e24f01;
}
.radio label {
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 14px;
  margin: 10px;
  padding: 0 6px 0 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.radio .checker {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: box-shadow 0.3s ease;
}
.radio .checker1 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: box-shadow 0.3s ease;
}
/*======================= Checkout====================== */
@media (max-width: 992px) {
  .dekstop_slider .fixed {
    position: unset;
    /* flex: 0 0 50%; */
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .infinite,
  .dekstop {
    display: none;
  }
  .container.desk-header {
    display: none;
  }
  .sticky-top {
    display: none;
  }
  .slider {
    margin-top: 102px;
    margin-bottom: 10px;
  }
  .slider .carousel-item img {
    height: 100%;
  }
  .product-single-tabs {
    display: block;
  }
  .product-single-container {
    display: block;
  }
  footer {
    display: none;
  }
  .popup {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .black {
    display: none;
  }
  header,
  .item-product {
    display: block;
  }
  .app-noti {
    display: flex;
  }
  .carousel-caption {
    position: absolute;
    right: auto;
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .left-nav,
  .footer-dsk {
    display: none;
  }
  .tabcontent {
    width: 100%;
    height: auto;
    padding: 0px;
  }
  .list-product {
    display: flex;
    flex: 0 0 50%;
    padding: 0px 5px;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
}

